.portfolio{
    width: 100%;
    .main_area{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8.2rem;
        .portion{
            width: 100%;
            position: relative;
            min-height: 35.8rem;
            overflow: hidden;
            &:first-child{
                grid-column: 1/2;
                grid-row: 1/3;
            }
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
            span{
                background-color: var(--primary-color);
                padding: 1.9rem 3.5rem;
                color: var(--white-color);
                position: absolute;
                top: 4.1rem;
                left: 7.7rem;
                z-index: 3;
                opacity: 0;
                transition: all 2s ease-in-out;

                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            &::before{
                width: 100%;
                height: 0%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255,255,255,.7);
                content: "";
                z-index: 1;
                opacity: 0;
                transition: all 1s ease-in-out;
            }
            &:hover{
                 &::before{
                     height: 100%;
                     opacity: 1;
                 }
                 span{                     
                     opacity: 1;
                     
                 }
            }
        }
    }
}

@media only screen and (max-width: 779px){
    .portfolio .main_area{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
        .portion{
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
    
}